{% extends "registration/registration_base.html" %}
{% load i18n %}{%load crispy_forms_tags%} {%load static%}

{% block title %}Logout{% endblock %}
{%block css%}
<style>
    #principal-container {
        min-height: 100vh;
        margin: 0px;
        background-image: url('{%static "img/background-blur-blurred-1350-copy2.jpg"%}');
        background-size: cover;
    }

    .ui.placeholder.segment {
        height: 400px;
    }

    .mb-1 {
        margin-bottom: 0.5rem;
    }

    .mb-2 {
        margin-bottom: 0.75rem;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .mb-4 {
        margin-bottom: 1.25rem;
    }

    .mb-5 {
        margin-bottom: 1.5rem;
    }

    .mt-2 {
        margin-top: 0.75rem;
    }

    .text-left {
        text-align: left !important;
    }
</style>
{%endblock%}
{% block content %}
<div class='ui middle aligned center aligned stackable grid' id='principal-container'>
    <div class='three column row '>
        <div class='column'>
            <div class="ui placeholder segment">
                <img class="ui small centered image" src="{%static 'img/Macardy PNG.png'%}">  
                <h2>
                    <span class="ui text">Vuelve pronto!</span>
                </h2>
                <a class="ui teal button" href="/accounts/login">Volver a ingresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
