{% extends "registration/registration_base.html" %}
{% load i18n %}{%load crispy_forms_tags%} {%load static%}

{% block title %}Cambiar contraseña{% endblock %}
{%block css%}
<style>
    #principal-container {
        min-height: 100vh;
        margin: 0px;
        background-image: url('{%static "img/background-blur-blurred-1350-copy2.jpg"%}');
        background-size: cover;
    }

    .ui.placeholder.segment {
        height: 500px;
    }

    .mb-1 {
        margin-bottom: 0.5rem;
    }

    .mb-2 {
        margin-bottom: 0.75rem;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .mb-4 {
        margin-bottom: 1.25rem;
    }

    .mb-5 {
        margin-bottom: 1.5rem;
    }

    .mt-2 {
        margin-top: 0.75rem;
    }

    .text-left {
        text-align: left !important;
    }
</style>
{%endblock%}
{% block content %}
<div class='ui middle aligned center aligned stackable grid' id='principal-container'>
    <div class='three column row '>
        <div class='column'>
            <div class="ui placeholder segment">
                <h2 class="ui icon header">
                    <i class="sync alternate icon"></i>
                    Reestablecer contraseña
                    <div class="sub header">Ingresa una nueva contraseña, siguiendo los parametros que se indican a
                        continuación.</div>
                </h2>
                <form method="post" action="">{%csrf_token%}
                    <div class="ui form">
                        <div class="ui left icon input" style="width: 300px;">
                            <input type="password" name="new_password1" autocomplete="new-password" required=""
                                id="id_new_password1" pb-role="new_password">
                            <i class="unlock icon"></i>
                        </div>
                        <ul>
                            <li>Su contraseña no puede asemejarse tanto a su otra información personal.</li>
                            <li>Su contraseña debe contener por lo menos 8 caracteres.</li>
                            <li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
                            <li>Su contraseña no puede ser completamente numérica.</li>
                        </ul>
                        <div class="ui left icon input" style="width: 300px;">
                            <input type="password" name="new_password2" autocomplete="new-password" required=""
                                id="id_new_password2" pb-role="confirm_password">
                            <i class="lock icon"></i>
                        </div>
                        <input type="submit" class='ui submit button fluid ui button' style="margin-top: 1.5rem;"
                            value="Confirmar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{%block script%}
{% if form.errors %}
<script>
    $(document).ready(function () {
        let msj = `
        {% for field in form %} 
        {% for error in field.errors %}
            <li>{{ error|escape }}</li>
        {% endfor %} {% endfor %} 
        {% for error in form.non_field_errors %}
            <li>{{ error|escape }}</li>
        {% endfor %}
        `
        $('body')
            .toast({
                title: 'Error',
                message: msj,
                class: 'error',
                displayTime: 5000,
            });
    })
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('form').on('submit', function (e) {
            $('.ui.placeholder.segment').addClass('blue double loading')
        })
    })
</script>
{%endblock%}
