{%extends 'base.html'%}{%load static%}{%load finance_extras%}
{%block content%}
<div id="header_content">
    <table>
        <tr>
            <th><img src="{{ sale.project.logo.url }}" width="70" height="70"></th>
            <th>{% if sale.project.logo_empresa %}<img src="{{ sale.project.logo_empresa.url }}" width="70" height="70">{% endif %}</th>
        </tr>
    </table>
</div>
<div>
    <p style='text-align:justify'><strong>FORMULARIO DE VERIFICACIÓN DE LA OFERTA COMERCIAL CELEBRADO ENTRE CONSTRUCTORA MACARDY S.A.S</strong></p>
    <table>
        <tr>
            <td style="width: 60%;"><strong>Nombre(s) y Apellido(s) del(los) ofertantes (s) Comprador(es):</strong></td>
            <td style="text-align:center"><b>C.C</b></td>
        </tr>
        <tr>
            <td style="width: 60%;"><u>{{sale.first_owner.full_name.upper}}</u></td>
            <td style="text-align:center"><u>{{sale.first_owner.client_document}}</u></td>
        </tr>
        <tr>
            <td style="width: 60%;"><u>{{sale.second_owner.full_name.upper}}</u></td>
            <td style="text-align:center"><u>{{sale.second_owner.client_document}}</u></td>
        </tr>
        <tr>
            <td style="width: 60%;"><u>{{sale.third_owner.full_name.upper}}</u></td>
            <td style="text-align:center"><u>{{sale.third_owner.client_document}}</u></td>
        </tr>
        <tr>
            <td style="width: 60%;"><u>{{sale.fourth_owner.full_name.upper}}</u></td>
            <td style="text-align:center"><u>{{sale.fourth_owner.client_document}}</u></td>
        </tr>
    </table>
    <p style="text-align: justify;">
        Las siguientes preguntas emitidas por <strong>LA CONSTRUCTORA MACARDY S.A.S,</strong> son con el fin de verificar que el
        comprador(es) está(n) de acuerdo con los términos y condiciones de la oferta comercial de <strong>"Parcelación Las Nutrias"</strong>
    </p>
    <table style="text-align:justify">
        <tr>
            <td style="width: 80%;">1. El Lote que usted adquirió Ubicado en el Municipio de Gómez Plata, Antioquia es:<br>
                Lote <u>{{sale.property_sold.location}}</u> Área <u>{{sale.property_sold.area}}</u></td>
            <td style="text-align:center;">
                <strong>SI</strong><br><img src='{%static "img/rectangle.png"%}' width="30" height="30">
            </td>
            <td style="text-align:center;">
                <strong>NO</strong><br><img src='{%static "img/rectangle.png"%}' width="30" height="30">
            </td>
        </tr>
        <tr>
            <td style="width: 80%;">2. El Valor del lote que usted adquirió es: <u>${{sale.value|format_number}}</u></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td colspan="3">3. La forma de pago del lote que usted adquirió es:</td>
        </tr>
        <tr>
            <td style="width: 80%;">A. Cuota inicial del lote de $: <u>{{plan.total_initial_payment|format_number}}</u><br>
                Pagadera así:
                <u>
                    {%for q in plan.ci_form%}
                    {{q.quanty}} cuota{{q.quanty|pluralize}} {{q.quanty|pluralize:"mensuales"}} de ${{q.value}} {{q.quanty|pluralize:"el, a partir del"}} {{q.initial_date}};
                    {%endfor%}
                </u>
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">B. Saldo a pagar del lote es por valor de $: <u>{{plan.total_to_finance|format_number}}</u><br>
                así:
                <u>
                    {{plan.scr_form.ctas_scr_q}} cuota{{plan.scr_form.ctas_scr_q|pluralize}} mensual{{plan.scr_form.ctas_scr_q|pluralize:"es"}} de ${{plan.scr_form.value_scr}} a partir del {{plan.scr_form.initial_date}}
                    {%if plan.sce_form.ctas_sce_q != ''%}, y {{plan.sce_form.ctas_sce_q}} cuota{{plan.sce_form.ctas_sce_q|pluralize}} extraordinarias {{plan.sce_form.periodicity}}{{plan.sce_form.ctas_sce_q|pluralize:"es"}} de ${{plan.sce_form.value_sce}} a partir del {{plan.sce_form.initial_date}}{%endif%}
                </u>
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">4. ¿Le informó el asesor que usted recibirá una membresía (De primer grado de consanguinidad) de por vida?
                Para disfrutar del Ecoparque las Nutrias (No incluye la administración); por ser propietario de la "Parcelación
                Las Nutrias". La capacidad fuera de su núcleo familiar de su primer grado de consanguinidad es la siguiente: Temporada S.A (5) , Alta (6); Media (10).
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">5. ¿Fue informado por el asesor comercial que una vez terminadas las primeras obras del Ecoparque Las
                Nutrias, deberá cancelar la cuota de administración mensual y podrá usar los servicios del mismo?
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">6. ¿Fue informado por el asesor comercial que una vez terminadas las primeras obras del proyecto deberá
                cancelar la cuota de administración mensual y podrá usar los servicios del mismo?
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">7. ¿Fue informado por el asesor comercial que el lote se va a entregar urbanizado con: acometida
                energía, acometida de agua, cerramiento en Eugenio, terraceo máximo 300mt2 y vías de acceso afirmado hasta el ingreso del lote como este en el momento de la entrega?
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">8. ¿Fue informado por el asesor comercial que el interés de la financiación es del <u>0,99%</u> mensual.<br>
                NOTA: Pero en cualquier momento puede cambiar la forma de pago, abonando a capital, y bajando
                el valor de cuota y tiempo.
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">9. ¿Fue informado por el asesor comercial que una vez el comprador termine de cancelar el lote, y comience
                el proceso de escrituración, los gastos legales de notaría se cancelan de la siguiente forma: el 100% lo
                paga el comprador, y el registro le corresponde el 100% pagarlo al comprador.
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
        <tr>
            <td style="width: 80%;">10. ORIGEN DE LOS FONDOS Y LAVADO DE ACTIVOS</td>
        </tr>
        <tr>
            <td colspan="3"><small>
                Manifiesto(amos) bajo la gravedad del juramento: Que los recursos con los cuales adquiero(imos) el (los) inmueble(s), fueron obtenidos con la
                ocupación, oficio, profesión, actividad o negocio lícitos, no provienen de actividades o negocios ilícitos contemplados en el Código Penal o las normas
                que lo modifican, adicionan o reforman…… Expreso(amos) además, que no estoy(amos) representado a terceras personas que puedan ser objeto de
                actividades ilícitas o que se encuentren en uso de mi o nuestros nombre(s) realizando y llevando a cabo inversiones en cabeza del(la)(los)(las)
                adquiriente(s).Igualmente agrego(amos), que no me(nos) encuentro (encontramos) incluido(a), (s) en la relación de personas de la Oficina de Control
                de Activos Extranjeros (OFAC) de los Estados Unidos de América, es decir, "listado de la OFAC" o "Lista Clinton" – "INTERPOL" y "POLICÍA NACIONAL DE COLOMBIA"
            </small></td>
        </tr>
        <tr>
            <td style="width: 80%;">11. ¿Existe algún acuerdo verbal entre usted y el vendedor que no esté plasmado en este contrato de
                promesa de compra venta?<br>
                ¿Cuál?<u>____________________________________________________________________</u>
            </td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
            <td style="text-align:center;"><img src='{%static "img/rectangle.png"%}' width="30" height="30"></td>
        </tr>
    </table>
    <p style='text-align: justify;'>
        12. Yo (nosotros), <u>{{sale.first_owner.full_name.upper}}</u> (Titular 1) con C.C. <u>{{sale.first_owner.client_document}}</u>
        {%if sale.second_owner.full_name != " "%} Y Yo, <u>{{sale.second_owner.full_name.upper}}</u> (Titular 2) con C.C. <u>{{sale.second_owner.client_document}}</u>{%endif%}
        {%if sale.third_owner.full_name != " "%} Y Yo, <u>{{sale.third_owner.full_name.upper}}</u> (Titular 3) con C.C. <u>{{sale.third_owner.client_document}}</u>{%endif%}
        {%if sale.fourth_owner.full_name != " "%} Y Yo, <u>{{sale.fourth_owner.full_name.upper}}</u> (Titular 4) con C.C. <u>{{sale.fourth_owner.client_document}}</u>{%endif%}.
        Declaramos que el contenido de este documento es de mi (nuestro) conocimiento y corresponde a lo pactado en la oferta comercial.
    </p>
    <br>
    <table>
        <tr>
            <td style="vertical-align:top; width: 50%;">
                <strong>
                    <u>________________________</u><br>
                    NOMBRE:</strong>{{sale.first_owner.full_name}}<br>
                <strong>CC.</strong> {{sale.first_owner.client_document}}
            </td>
            <td style="vertical-align:top; width: 50%;">
                {%if sale.second_owner.full_name != " "%}
                <strong>
                    <u>________________________</u><br>
                    NOMBRE:</strong>{{sale.second_owner.full_name}}<br>
                <strong>CC.</strong> {{sale.second_owner.client_document}}
                {%endif%}
            </td>
        </tr>
        <tr>
            <td style="vertical-align:top; width: 50%;">
                {%if sale.third_owner.full_name != " "%}
                <strong>
                    <u>________________________</u><br>
                    NOMBRE:</strong>{{sale.third_owner.full_name}}<br>
                <strong>CC.</strong> {{sale.third_owner.client_document}}
                {%endif%}
            </td>
            <td style="vertical-align:top; width: 50%;">
                {%if sale.fourth_owner.full_name != " "%}
                <strong>
                    <u>________________________</u><br>
                    NOMBRE:</strong>{{sale.fourth_owner.full_name}}<br>
                <strong>CC.</strong> {{sale.fourth_owner.client_document}}
                {%endif%}
            </td>
        </tr>
    </table>
</div>
{% endblock %}
{%block css%}
<style>
    @page {
        size: legal;

        @frame header_frame {
            -pdf-frame-content: header_content;
            left: 40pt;
            width: 530pt;
            top: 10px;
            height: 100px;
        }

        @frame content_frame {
            left: 50pt;
            width: 512pt;
            top: 100px;
            height: 890pt;
        }
    }

    p {
        font-size: 9pt
    }

    table {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 9pt
    }

    #encabezados-logos p {
        padding: 0px;
        margin: 0px;
        font-size: large;
    }

    #detail-table th,
    #detail-table td {
        padding: 2px;
        width: 50%;
        height: 50%;
    }

    .underline {
        border-bottom: 0.5px solid gray;
    }

    .text-center {
        text-align: center;
    }

    .title {
        font-weight: bold;
    }

    .square {
        width: 10px;
        height: 10px;
        border: 3px solid #555;
        border-radius: 3px;
    }
</style>
{%endblock%}
